<style>

  .feedback-section__wrapper {
    background-color: {{ section.settings.background_color }};
  }

  .content-container {
    padding: 2rem;
  }
  
  .context-inside {
    width: 250px;
    height: 250px;
  }

</style>

<div class="feedback-section__wrapper">
  <div class="feedback-section_title">
    <h3>{{ section.settings.title_text }}</h3>
  </div>
  <div class="feedback-section__slick">
  {% for block in section.blocks %}
    <div 
      class="content-container"
      style="background-color: {{ block.settings.block_color }};">
      <div class="context-inside">
      </div>
    </div>
  {% endfor %}
   
  </div>

</div>

{% schema %}
{
  "name": "Feedback Section Blocks",
  "settings": [{
      "type": "color",
      "id": "background_color",
      "label": "Section Color"
    },
    {
      "type": "text",
      "id": "title_text",
      "label": "Title Text"
    }

  ],
  "blocks": [{
    "name": "Section Block",
    "type": "section",
    "settings": [{
      "type": "color",
      "id": "block_color",
      "label": "Block Color"
    }]
  }],
  "presets": [{
    "name": "Feedback Section Blocks"
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
