<style>

  .feedback-section__wrapper {
    background-color: {{ section.settings.background_color }};
  }

/*   .content-container {
    margin: 0 4.5rem;
  }
  
  .feedback-section__slick {
    width: 100%;
  }
  
  
  .context-inside {
    margin: 1rem;
    width: 400px;
    height: 250px;
  }
  
  .context-inside > img {
    max-width: 100%;
    height: auto;
  } */
  
  .feedback-section__slick{
  width:600px;
  margin:20px auto;
  text-align: center;
  padding:20px;
  color:white;
  

}
  
    .content-container{
    padding:0;
  }
  
     .context-inside{
      transition: all .2s ease;
      background: red;
      width:100%;
      height:80px;
      margin: 30px 0;
      transition: all .5s;
    }
    .slick-center .context-inside{
    
        background: yellow;
        margin: 0;
        height: 140px;
        max-width: initial;
      
    }


</style>

<div class="feedback-section__wrapper">
  <div class="feedback-section_title">
    <h3>{{ section.settings.title_text }}</h3>
  </div>
  <div class="feedback-section__slick">
  {% for block in section.blocks %}
    <div 
      class="content-container"
      style="background-color: {{ block.settings.block_color }};">
      <div class="context-inside">
        <div class="child-section">
                          <img src="https://cdn.shopify.com/s/files/1/0597/1551/8645/files/Group_371.png?v=1641988502" alt="block_image">

        </div>
      </div>
    </div>
  {% endfor %}
   
  </div>

</div>

{% schema %}
{
  "name": "Feedback Section Blocks",
  "settings": [{
      "type": "color",
      "id": "background_color",
      "label": "Section Color"
    },
    {
      "type": "text",
      "id": "title_text",
      "label": "Title Text"
    }

  ],
  "blocks": [{
    "name": "Section Block",
    "type": "section",
    "settings": [{
      "type": "color",
      "id": "block_color",
      "label": "Block Color"
    }]
  }],
  "presets": [{
    "name": "Feedback Section Blocks"
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
