<style>

  .feedback-section__wrapper {
    background-color: {{ section.settings.background_color }};
  }

  .content-container {
    margin: 0 3rem;
  }
  
  .feedback-section__slick {
/*     margin: 0 1rem; */
  }
  
  
  .context-inside {
/*     width: 100px; */
    height: 250px;
  }
  
/*   .slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
} */

</style>

<div class="feedback-section__wrapper">
  
  <div class="feedback-section_title">
    <h3>{{ section.settings.title_text }}</h3>
  </div>
  
  <div class="feedback-section__slick">
    {% for block in section.blocks %}
    <div 
      class="content-container"
      style="background-color: {{ block.settings.block_color }};">
        <img src="{{ block.settings.block_image | image_url: image_size }}" alt="block_image">

      </div>
    {% endfor %}
  </div>
   
</div>

{% schema %}
{
	"name": "Feedback Section Blocks",
	"settings": [{
			"type": "color",
			"id": "background_color",
			"label": "Section Color"
		},
		{
			"type": "text",
			"id": "title_text",
			"label": "Title Text"
		}

	],
	"blocks": [{
		"name": "Section Block",
		"type": "section",
		"settings": [{
				"type": "color",
				"id": "block_color",
				"label": "Block Color"
			},
			{
				"type": "image_picker",
				"id": "block_image",
				"label": "Block Image"
			}
		]
	}],
	"presets": [{
		"name": "Feedback Section Blocks"
	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
