
<style>
  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 350px;
    height: 150px;
    margin: auto;
    padding: 4rem 0;
    text-align: center;
  }

  #button_one {
    position: absolute;
    left: 0px;
  }
  #button_two {
    position: absolute;
    left: 150px;
  }
  #button_three {
    position: absolute;
    left: 300px;
  }
  
  .button_image {
    width: 50px;
    height: 50px;
  }

  .image_puppy {
    position: relative;
    z-index: 2;
    left: -150px;
    width: 65px;
    height: 65px;
  }

  .image_adult {
    position: absolute;
    z-index: 2;
    left: 292px;
    width: 65px;
    height: 65px;
    display: none;
  }

  .border {
    display: block !important;
    width: 300px;
    border-bottom: 7px solid #84CAD4;
    position: absolute; 
    top: 72px;
  }

</style>

<div class="buttons-container">
  <div class="border"></div>
  <img class="image_puppy" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/files/Group_202.png?v=1643277351" alt="">
  <img class="image_adult" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/files/Group_308.png?v=1643295106" alt="">
  <img id="button_one" class="button_image" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/files/Rectangle_344.png?v=1643279421" alt="">
  <img id="button_two"class="button_image" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/files/Rectangle_344.png?v=1643279421" alt="">
  <img id="button_three" class="button_image" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/files/Rectangle_344.png?v=1643279421" alt="">
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [{
      "name": "Filter Buttons"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
