
@media screen and (max-width: 750px) {

  .custom-grid__item {
    flex-direction: column-reverse;
  }

}

/* Testimonials */

.testimonials-section{
  padding:25.5px 0;
}

.testimonials-section--with-divider{
  border-top:1px solid;
  border-top-color:{{ settings.color_borders | default: "#1c1d1d" }};
  border-top-color:var(--colorBorder);
}

@media only screen and (min-width:769px){

  .testimonials-section{
    padding:75px 0;
  }
}

