/* Shop Products Section */


.shop-products__main {
  padding: 1rem 0;
}

.block-image__container > img {
  width: 100%;
  height: auto;
}

.block-image__container {
  padding: 2rem 0;
  position: relative;
  }

 .block-button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  top: 85%;
  left: 20%;
  right: 20%;
  height: 35px;
  }

  .block-button__container {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
  }

@media screen and (min-width: 540px) {

  .block-button__container {
    top: 88%;
    left: 25%;
    right: 25%;
    height: 40px;
  }
}


@media screen and (min-width: 768px) {
  .shop-products__wrapper {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 3rem 0;
  }
  
  .shop-products__block {
    padding: 1rem 2rem;
  }

  .block-button__container {
    top: 85%;
    left: 15%;
    right: 15%;
    height: 30px;
  }

  .block-image__container {
    padding: 0;
  }

}

@media screen and (min-width: 1024px) {
  .block-button__container > a {
    font-size: 1.6rem;
  }

  .shop-products__block {
    padding: 1rem 3rem;
  }

  .block-button__container {
    height: 35px;
  }
}

/* Hero Section */

.hero-section {
  clip-path: ellipse(250% 100% at 50% 100%);
  margin-bottom: -1rem;
}

.hero-desktop__wrapper > img, .hero-mobile__wrapper > img {
  width: 100%;
}

.hero-desktop__wrapper {
  position: relative;
}

.mobile__button {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-decoration: none;
  
  
  top: 70%;
  left: 5%;
  right: 38%;
  height: 40px;
  font-weight: bold;
  font-size: 2rem;
}



@media screen and (min-width: 541px) {

  .hero-section {
    clip-path: ellipse(150% 100% at 50% 100%);
  }

  .hero-container__mobile {
    display: none;
  }
  
  .desktop__button {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    
    top: 80%;
    left: 54%;
    right: 20%;
    height: 40px;
    
    font-weight: bold;
    font-size: 2rem;    
  }
}

@media screen and (max-width: 540px) {
  .hero-container__desktop {
    display: none;
  }
}

  @media screen and (max-width: 768px) {
    .desktop__button {
      height: 32px;
      font-size: 1.6rem;
    }
  }

  /* Subscription Benefits Section */



  /* Image With Text Section */

@media screen and (max-width: 750px) {

  .custom-grid__item {
    flex-direction: column-reverse;
  }

}

/* Instagarm Section */

#shopify-section-template--15576121442551__16425961902c7cf764 {
  position: relative;
  top: 1%;
}

.instagram-section__wrapper {
  padding-bottom: 4rem;
  clip-path: ellipse(150% 100% at 50% 0%);
}

.instagram-block-image__container {
  display: flex;
}

.title-and-icons {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.facebook_icon, .instagram_icon {
  padding-right: 1rem;
  height: 32px;
}

.title-and-icons h3 {
  margin: 0;
  font-size: 3rem;
  color: #035966;
}

.instagram-paragraph__container p {
  color: #035966;
}

.container-block {
  padding-right: 2rem;
}

.container-block img {
  width: 100%;
}

.container-block:nth-child(4) {
  padding: 0;
}

@media screen and (min-width: 749px) {
  .text-container__mobile, .instagram-image-container__mobile {
    display: none;
  }
}

@media screen and (max-width: 748px) {

  .instagram-section__wrapper {
    clip-path: ellipse(250% 100% at 50% 0%);
  }

  .instagram-text__container, .instagram-block-image__container {
    display: none;
  }

  .title-and-icons__mobile {
    padding-top: 2rem;
  }

  .title-and-icons__mobile h3 {
    margin: 0;
    font-size: 3rem;
    color: #035966;
  }

  .instagram-image-container__mobile {
    display: flex;
    padding-bottom: 4rem;
  }

  .container-block__mobile {
    padding-right: 2rem;
  }

  .container-block__mobile img {
    width: 100%;
  }

  .container-block__mobile:nth-child(4) {
    padding: 0;
  }

  .instagram-image-container__mobile .slick-list {
    padding-left: 0 !important;
  }
}

/* Header section */

.icon-cart-empty {
  background: #84CAD4;
  border-radius: 25px;
}

.header__heading-link {
  text-align: center;
}

.header__heading-logo {
  width: 50% !important;
}

@media screen and (max-width: 748px) {
  .header__heading-logo {
    width: 100% !important;
  }
}

.header__icon--account {
  /* width: 100%; */
  margin-right: 2rem;
}

.custom_account {
  font-size: 2rem !important;
  text-decoration-color: #005966 !important;
  color: #005966 !important;
  width: 100% !important;
}

.menu-drawer {
  /* top: 0% !important; */
}

/* Footer */


